*{
    font-family: MedeivalSharp;
    box-sizing: border-box;
}

@font-face {
    font-family: MedeivalSharp;
    src: url(MedievalSharp-Regular.ttf);
}

body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

#top-banner{
    padding: 0;
    margin: 0;
    background-color: navy;
    color: sandybrown;
    display: flex;
    list-style: none;
}

#intro
{
    margin-left:10px;
    padding: .5em;
}

.header{
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    white-space: nowrap;
    background-color: sandybrown;
    color: #333;
}

.tracker-container{
    padding: 1em;
}

#table-list
{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

#table-list td
{
    padding: 1em;
    text-align: left;
    border-top: 1px solid #ccc;
}

#table-header th
{
    padding: 0.5 em;
}

#add-new
{
    width: 100%;
    text-align: center;
}

input
{
    padding: 0.5em
}

